.home{
    display: flex;
}

.sidebar-home {
    margin-top: 40px;
}

.pclass{
    flex: 9;
    color: #808080;
    display: flex;
    flex-wrap: wrap;
    margin: 150px 20px 20px 20px;
    align-content: flex-start;
    text-align: center;
    justify-content: center;
}